html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
hr,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    border: 0;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    color: #555;
     font-family: 'Raleway', sans-serif;
     font-family: 'Lusitana', serif;
    -webkit-font-smoothing: antialiased;
    /* Fix for webkit rendering */
    -webkit-text-size-adjust: 100%;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul,
li {
    padding: 0;

}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

b,
strong {
    font-weight: 600;
}

html {
    top: 0 !important;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: "Questrial", sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    color: #555 !important;
    font-family: "Questrial", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden !important;
    width: 100%;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto !important;
    -webkit-tap-highlight-color: transparent;
}

a {
    cursor: pointer;
    color: inherit;
    text-decoration: none;
    transition: 0.35s;
}

a.underline {
    text-decoration: underline;
}

a:hover {
    transition: 0.15s;
    opacity: 0.8;
}

.header{
    min-height: 600px;
   background-image: url("../assets/images/2.jpg") !important;
   background-position: center;
   background-size:cover;
   background-repeat: no-repeat;
}
.nav-color{
    background-color: #283e4a !important;
}
.navbar a{
    color: white !important;
}
.chart-size{
    width:350px !important;
    height: 175px !important;
}
.info-graph{
    padding: 15px 100px 
}
.keytakeaways{
    min-height: 600px;
    padding: 0px 100px;
}
.list-group-item{
    border: 0px !important;
}
.list-group{
    list-style-type: square lower-roman !important;

}
.nav-tabs {
    border-bottom: 1px solid #283e4a;
    display: flex !important;
    justify-content: space-evenly !important;
    z-index:10;
    background-color: white !important;
}
.info-graph h1{
    font-size: 30px;
}
.info-graph-font{
    padding: 50px 100px;
    font-size: 17px !important;
    font-weight: 600;
}
.tab-content{
    background-color: #f4f6f8;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white !important;
    background-color: #283e4a !important;
    border-color: #dee2e6 #dee2e6 #fff;
}

.sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
  }
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    width: 380px !important;
    height: 300px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}
.card-title{
    font-size: 20px !important;
}
.mytab-font{
    font-size: 20px !important;
    color: #283e4a !important;
}.keytakeaways p{
    font-size: 15px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 0px !important;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.125);
    text-decoration: underline;
}
.intoduction{
    padding: 50px 120px; 
}
.aim-method-section .card{
    height: 200px !important;
}
.aim-method-section .card :hover{
    box-shadow: 10px;
}